librosa
pydub
openai-whisper
datasets
torch
torchvision
torchaudio
tqdm
pandas
numpy
matplotlib
scipy
python-dotenv
flask
flask-cors
transformers
nltk
spacy
rake-nltk
sentence-transformers
noisereduce
scikit-learn
soundfile
requests
